.preview {
  display: grid;
  justify-content: center;
  align-items: center;
}

.a4-preview-page__container {
  margin-bottom: 2rem;
  height: calc(267mm * 0.6);
}

.a4-preview-page {
  width: 180mm;
  height: 267mm;
  font-family: 'Inter';
  text-align: justify;

  padding: 3rem;
  background-color: #fdfdfa;
  border: 1px solid #ddd;
  transform-origin: top;
  scale: 0.6;

  h2 {
    font-size: 1rem;
    font-weight: bold;
  }

  h3 {
    font-size: 0.9rem;
    font-weight: bold;
  }

  p {
    font-size: 0.9rem;
  }

  hr {
    border: solid 1px var(--hr-color);
    margin-bottom: 1rem;
  }

  section {
    margin-bottom: 1.5rem;
  }
}

section.preview-personal-info {
  text-align: center;
  margin-bottom: 1.5rem;

  h1 {
    margin-bottom: 0.4rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.preview-job,
.preview-school,
.preview-projects > div {
  margin-bottom: 1rem;

  & > p:not(:first-of-type) {
    margin-top: 0.3rem;
  }

  & > div {
    display: flex;
    justify-content: space-between;

    p {
      font-weight: 500;
      text-wrap: nowrap;
    }
  }

  h3 {
    text-wrap: wrap;
    text-align: left;
    margin-right: 4rem;
  }
}

.preview-school > p {
  font-weight: 300;
  margin-bottom: 0.3rem;
}

.job-preview p:nth-of-type(2) {
  margin-bottom: 0.5rem;
}

@media (min-width: 600px) {
  .a4-preview-page__container {
    height: calc(267mm * 0.8);
  }

  .a4-preview-page {
    scale: 0.8;
  }
}

@media (min-width: 1024px) {
  .a4-preview-page__container {
    height: calc(267mm);
    margin: 0;
  }

  .a4-preview-page {
    scale: 1;
  }
}
