/* Variables */
:root {
  --border-radius: 4px;
  --bg-color: #090e1a;
  --bg-dot-color: #455579;

  --primary-color: #e6dfdf;
  --secondary-color: #f5c43e;
  --warning-color: #fa2b2b;

  --input-text-color: #d6d3d0;
  --input-bg-color: #1e283f;
  --editor-bg-color: #0f172a;

  --nav-bg-color: var(--bg-color);
  --nav-bg-hover-color: var(--input-bg-color);
  --nav-bg-active-color: var(--editor-bg-color);
  --nav-logo-active-color: var(--warning-color);

  --button-outline: var(--secondary-color);

  --hr-color: #dddedf;
}

/* Fonts */
@font-face {
  font-family: 'Noto Sans';
  font-weight: 300;
  src: url('./assets/fonts/NotoSans-Regular.ttf');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 500;
  src: url('./assets/fonts/NotoSans-Medium.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 300;
  src: url('./assets/fonts/Inter_24pt-ExtraLight.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url('./assets/fonts/Inter_18pt-Light.ttf');
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

html,
#root {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Noto Sans';
  font-weight: 300;
  background-color: var(--bg-color);
  background-image: radial-gradient(var(--bg-dot-color) 5%, transparent 0);
  background-size: 35px 35px;
}

@media (min-width: 1024px) {
  #root {
    display: grid;
    grid-template-columns: 25rem 1fr;
    height: 100vh;
  }
}

.hidden {
  display: none !important;
}
